/* Importar Google-Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Quitar estilos predeterminados */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Medida para usar rem */
html {
    /* 1px = 0.1rem */
    font-size: 56.5%;
}
.container{
    padding-top: 7rem;
}
/* Variables a utilizar */
:root{
    --body-color:#9B27B00D;
    --sidebar-color:#FFFFFF;
    --primary-color:#9C27B0;
    --primary-color-light:#9B27B00D;
    --toggle-color:#DDDDDD;
    --text-color:#707070;

    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

/* Pseudoelemento que cambia el color al ser resaltado */
::selection{
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

/* Cuando el body tenga un modo oscuro se aplicarán */
body.dark{
    --boody-color:#18191A;
    --sidebar-color:#242526;
    --primary-color-light:#3A3B3C;
    --toggle-color:#FFFFFF;
    --text-color:#CCCCCC;
}

/* Posición y forma del sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 28rem;
    padding: 1rem  1.4rem;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

/* Permite ampliar y cerrar el sidebar */
.sidebar.close {
    width: 8.8rem;
}

.sidebar li{
    height: 5rem;
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 1rem;
}

/* Tamaños en header */
.sidebar header .image,
.sidebar .icon {
    min-width: 6rem;
    border-radius: 0.6rem;
}

/* Estilos de icon */
.sidebar .icon {
    display: flex;
    min-width: 6rem;
    border-radius: 0.6rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* Transiciones y color */
.sidebar .text, 
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

/* Estilo de texto */
.sidebar .text {
    font-size: 1.7rem;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

/* Cuando esté en close el texto desaparece */
.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .logo {
    display: flex;
    flex-direction: column;
}

/* Primer texto */
.name {
    margin-top: 0.2rem;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Segundo texto */
.profe {
    font-size: 1.6rem;
    margin-top: -0.2rem;
    display: block;
}

/* Permite la ubicación de ambos textos principales */
.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 4rem;
    border-radius: 0.6rem;
}

/* Edición de "Menú" el toggle de 3 lineas, de esta forma
se deja fijo y se le agregan tamaños */
.sidebar header .toggle {
    position: absolute;
    top: 20%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    transition: var(--tran-05);

    /* Se agrega de último momento para estilizarlo mejor */
    border-radius: 1rem;
}

/* Cuando esté en modo oscuro el toggle será... */
body.dark .sidebar header .toogle {
    color: var(--text-color);
}

/* Cuando el sidebar esté cerrado... */
.sidebar.close .toggle {
    width: 100%;
    top: 20%;
}

.sidebar .menu {
    margin-top: 4rem;
}

/* Input Buscar */
.sidebar li.search-box {
    border-radius: 0.6rem;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

/*.sidebar li.search-box {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;

    /* Se elimina porque genera error visual al estar super
    puesto el icono */
    /* background-color: var(--primary-color-light); */ 

    /*background-color: #faf4fb;
    color: var(--text-color);
    border-radius: 0.6rem;
    font-size: 1.7rem;
    font-weight: 500;
    transition: var(--tran-05);
}*/

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 0.6rem;
    text-decoration: none;
    transition: var(--tran-03);
}

/* Se modifican los colores al momento de estar en dark mode */
.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 5.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

/* Se quita el scroll dentro del sidebar */
.menu-bar::-webkit-scrollbar {
    display: none;
}

/* Parte de abajo */
.sidebar .menu-bar .mode {
    border-radius: 0.6rem;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

/* Se editan los modos oscuros y claros */
.menu-bar .mode .sun-moon {
    height: 5rem;
    width: 6rem;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun{
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

/* Se modifica el boton switch para cambiar entre modos */
.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 2.2rem;
    width: 4rem;
    border-radius: 2.5rem;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 1.1rem;
    width: 1.5rem;
    border-radius: 50%;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 2rem;
}

.home {
    position: absolute;
    font-weight: 500;
    top: 0;
    left: 25rem;
    height: 100vh;
    width: calc(100% - 25rem);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 3rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 1.2rem 6rem;
}

.sidebar.close ~ .home {
    left: 7.8rem;
    height: 100vh;
    width: calc(100% - 7.8rem);
}

body.dark .home .text {
    color: var(--text-color);
}